 .custom-label {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 5px;
  color: darkblue;
 }
 h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 5px;
  color: darkblue;
 }
 h5 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left: 5px;
   color: darkblue;
 }
.list-group-item:hover {
  background-color: #F3F781;
  cursor: pointer;
}

.lista-clientes {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #F2E2A8;
    /* Agrega un borde de 1px de ancho con color gris */
    border-radius: 5px;
}

.lista-facturas {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #F2E2A8;
    /* Agrega un borde de 1px de ancho con color gris */
    border-radius: 5px;
}
